<div class="item" id="task-<%= task.id %>-album-<%= album.id %>">
  <div class="image">
    <%= image_tag album.cover.url %>
    <%= link_to content_tag(:i, nil, class: 'remove icon'), 'javascript:void(0);',
                class: 'star ui corner label remove_album', data: {tid: task.id, aid: album.id} %>
  </div>
  <div class="content">
    <div class="name"><%= album.sku %></div>
    <p class="description"><%= album.title %></p>
  </div>
</div>