<div>
  <% @albums.each do |album| %>
    <div class="square task album row clearfix" style="height: 140px;">
      <%= content_tag :div, image_tag(album.cover.url), class: 'task cover', 'data-url' => list_pic_task_path(@task, aid: album.id) %>
    </div>
  <% end %>
</div>

<div class="ui grid stackable">
  <div class="twelve wide column content">
    <%= render 'comments/comments', comments: @comments, instance: @task, type: 'task' %>
  </div>

  <div class="four column wide">
    <div class="ui stacked segment">
      <div class="ui statistic">
        <div class="number"><%= @attachments.size %></div>
        <div class="description">相关附件</div>
      </div>
      <div class="ui divided selection list square center" data-no-turbolink>
        <% @attachments.each do |attach| %>
            <%= link_to attach.file.file.filename, download_attachment_path(attach), class: 'item req_log' %>
        <% end %>
        <%= link_to '上传附件', new_attach_task_path(@task) , class: 'item req_log', id: 'for_newattach' %>
      </div>
    </div>
  </div>
</div>