<div class="user-js"></div>

<div class="square user new">
  <div class="dialog">
    <div class="square pie">
      <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="ui form">
        <%= form_for @user, autocomplete: 'off' do |f| %>
            <div class="field">
              <%= f.label :username %>
              <%= f.text_field :username %>
            </div>

            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email, autocomplete: 'off' %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation %>
            </div>

            <div class="square center">
              <%= f.submit '提 交', class: 'square button large' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>