<div id="album-js"></div>

<div class="tile middle square ui grid albums">
    <div class="three wide column pane">
        <div class="square pie black list">
          <ul id="shopmenu">
            <li><%= link_to '相册列表', albums_path %></li>
            <li><span class="active">新建相册</span></li>
            <li><%= link_to '相册搜索', root_path %></li>
          </ul>
        </div>
    </div>

    <div class="thirteen wide column pane">
        <div class="square pie">
          <%= form_for @album, multipart: true do |f| %>
            <div class="ui grid">
              <div class="four wide column"></div>
              <div class="eight wide column">
                <div class="ui form">
                  <div class="field">
                    <%= f.label :title %>
                    <div class="ui icon input">
                      <i class="code icon"></i>
                      <%= f.text_field :title %>
                    </div>
                  </div>

                  <div class="field">
                    <%= f.label :sku %>
                    <div class="ui icon input">
                      <i class="url icon"></i>
                      <%= f.text_field :sku %>
                    </div>
                  </div>

                  <div class="field">
                    <%= f.label :cover %>
                    <div class="ui icon input">
                      <i class="file icon"></i>
                      <%= f.file_field :cover %>
                    </div>
                  </div>

                  <div class="ui grid">
                    <div class="twelve wide column"></div>
                    <div class="four wide column">
                      <%= f.submit '提交', class: 'ui black fluid button' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
</div>