<div id="picture-js" data-id="<%= @album.id %>"></div>

<div class="square ui pictures">
  <div id="pic-gallery-signal">
    <div class="signal remove">删 除</div>
    <div class="signal download">下 载</div>
  </div>
  <div class="square pie nomargin clearfix" id="pic-pane">
    <div id="pic-gallery-wrap" class="clearfix">
      <div id="pic-gallery" class="ui grid stackable five column clearfix">
        <% @pictures.each do |pic| %>
            <div class="column">
              <div class="square center cover add_pic" data-url="<%= picture_path(pic) %>" data-id="<%= pic.id %>">
                <%= link_to image_tag(pic.file.url(:thumb), data: {pid: pic.id}), 'javascript:void(0);' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
    <% if root? %>
        <div id="pic-uploader">
          <%= form_tag '#', id: 'fileupload', multipart: true, data: {url: upload_pictures_path} do %>
              <%= hidden_field_tag :album_id, @album.id %>
              <div class="ui fluid three item menu fileupload-buttonbar">
                <span class="item fileinput-button" style="overflow: hidden;">
                    <i class="icon upload"></i>添加文件
                    <input type="file" name="files[]" multiple="" accept="image/png, image/gif, image/jpg, image/jpeg">
                </span>
                <span class="item start"><i class="icon checkmark"></i>开始上传</span>
                <span class="item cancel"><i class="icon ban circle"></i>停止上传</span>
              </div>
              <div id="files-container" class="ui divided list files"></div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>


<div class="ui text menu">
  <% if can? :manage, @album  %>
      <a class="active item" id="bupload">
        <i class="upload icon"></i> 上传
      </a>
      <a class="active item" id="bedit" data-url="<%= edit_album_path(@album) %>">
        <i class="edit icon"></i> 编辑
      </a>
      <a class="active item" id="bremove">
        <i class="remove circle icon"></i> 删除图片
      </a>
      <a class="active item" id="bauthorize" data-url="<%= authorize_album_path(@album) %>">
        <i class="remove circle icon"></i> 用户授权
      </a>
  <% end %>

  <% if can? :download, @album %>
  <a class="active item" id="bdownload" data-url="<%= download_album_path(@album) %>">
    <i class="download disk icon"></i> 下载图片
  </a>
  <% end %>
</div>


<div class="square pictures content-wrap">
    <%= render 'content' %>
</div>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="item template-upload">
    <div class="ui grid">
      <div class="one wide column">
        <div class="ui avatar image preview"></div>
      </div>
      <div class="nine wide column">
        <div class="content">
          <span class="square txt blod grey">{%=file.name%}</span>
        </div>
      </div>
      <div class="three wide column">
        <span class="square txt grey">{%=fileSize(file.size)%}</span>
      </div>
      <div class="three wide column square center">
        <span class="tiny teal ui button start" data-name="{%=file.name%}">开始上传</span>
      </div>
    </div>
    <div class="ui top attached progress"><div class="bar" style="width: 0;"></div></div>
  </div>
  {% } %}
</script>

<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="item template-download">
    <div class="ui grid">
      <div class="one wide column">
        <div class="ui avatar image preview"></div>
      </div>
      <div class="nine wide column">
        <div class="content">
          <span class="square txt blod grey">{%=file.name%}</span>
        </div>
      </div>
      <div class="three wide column">
        <span class="square txt grey">{%=fileSize(file.size)%}</span>
      </div>
      <div class="three wide column square center">
        {% if (file.error) { %}
            <small class="square text" style="color: red;">{%=file.error%}</small>
        {% } %}
      </div>
    </div>
  </div>
  {% } %}
</script>