<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui fixed transparent inverted main menu square">
    <div class="container">
      <%= link_to '首页', root_path, class: 'item' %>
      <%= link_to '相册', albums_path, class: 'item' %>
      <a id="4taskbar" class="item" href="javascript:void(0);">新任务</a>
    </div>
</div>

<div class="segment">
  <div class="container tile large">
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<div id="taskbar" class="ui wide styled sidebar active">
  <h3 class="ui header">任务清单</h3>
  <div class="ui fluid vertical menu">
    <a class="item" id="4task-page">
      <i class="chat outline icon"></i>
      添加当前页
    </a>
    <a class="item" id="4task-sku">
      <i class="text file icon"></i>
      添加对应 SKU 的相册
    </a>
  </div>
</div>

</body>
</html>
