<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui fixed transparent inverted main menu square" id="main-topbar">
    <div class="container">
      <%= link_to '首页', root_path, class: 'item' %>
      <%= link_to '相册', albums_path, class: 'item' %>
      <a id="for_taskbar" class="item" href="javascript:void(0);">任务</a>

      <div class="menu right">
          <% if logged_in? %>
            <%= link_to image_tag('/images/cat.png', class: 'login c i'), logout_path, method: :delete, class: 'item', id: 'for_login2', style: 'border-radius: 100px;' %>
          <% else %>
            <a href="javascript:void(0);" id="for_login" class="item" style="border-radius: 100px;">
              <%= content_tag :span, '登录', class: 'login c t', id: 'btn4login' %>
            </a>
          <% end %>
        </a>
      </div>
    </div>
</div>

<div class="segment">
  <div class="container tile large">
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<div id="taskbar" class="ui wide styled sidebar">
  <h3 class="ui header">任务清单</h3>
  <div class="ui fluid vertical menu">
    <a class="item" id="for_task-page" data-url="<%= tasks_path %>">
      <i class="chat outline icon"></i>
      添加当前页
    </a>
    <a class="item" id="for_task-sku" data-url="<%= tasks_path %>">
      <i class="text file icon"></i>
      添加对应 SKU 的相册
    </a>
  </div>
  <div class="ui two items" id="taskalbum-container">

  </div>
</div>

</body>
</html>
