<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui fixed transparent inverted main menu square">
    <div class="container">
      <%= link_to '首页', root_path, class: 'item' %>
      <%= link_to '相册', albums_path, class: 'item' %>
      <div class="item">aa</div>
    </div>
</div>

<div class="segment">
  <div class="container tile large">

  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
