<!DOCTYPE html>
<html>
<head>
  <title>Square</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    var logged_in = <%= logged_in? %>;
    var login_name = '<%= current_user.try(:username) %>';
  <% end %>
</head>
<body>

<div class="ui fixed transparent inverted main menu square" id="main-topbar">
    <div class="container">
      <%= link_to '首页', root_path, class: 'item' %>
      <%= link_to '相册', albums_path, class: 'item' %>
      <%= link_to '新建任务', 'javascript:void(0);', id: 'for_taskbar', class: 'item' %>
      <%= link_to '任务列表',tasks_path, class: 'item' %>

      <div class="menu right">
          <% if logged_in? %>
            <%= link_to image_tag('/images/cat.png', class: 'login c i'), user_path(current_user),
                        class: 'item', id: 'logged_me', style: 'border-radius: 100px;' %>
          <% else %>
            <a href="javascript:void(0);" id="for_login" class="item" style="border-radius: 100px;">
              <%= content_tag :span, '登录', class: 'login c t', id: 'btn4login' %>
            </a>
          <% end %>
        </a>
      </div>
    </div>
</div>

<div class="segment">
  <div class="container tile large">
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
